.TxnsPage {
  background-color: var(--foreground);
  width: 100%;

  & .TitleBox {
    display: flex;
    justify-content: space-between;

    & .Title {
      align-self: center;
    }

    & .PaginationButtons {
      align-self: flex-end;
      justify-self: flex-end;
      margin-top: 15px;
    }
  }

  & .Table {
    & .RowContainer {
      width: 80%;

      .Row {
        font-size: 0.8rem;
        justify-content: space-between;
        width: 100%;

        & .HashTimeCell {
          width: 350px;
        }

        & .FromToTxnCell {
          width: 240px;
        }

        & .ActionCell {
          width: 100px;
        }
      }
    }
  }
}

.EmptyTitleBox {
  padding: 22px 60px;
}

@media only screen and (max-width: 1605px) {
  .BlocksPage {
    & .Table {
      & .Row {
        gap: 50px;

        & .HashCell {
          width: 450px;
        }
      }
    }
  }
}
