.TxnsPage {
  background-color: var(--foreground);
  border-radius: var(--radius);
  height: 930px;
  width: 100%;

  & .TableContainer {
    justify-content: flex-start;

    & .TitleBox {
      display: flex;
      justify-content: space-between;
      padding: 28px 39px;

      & .Title {
        align-self: center;
        font-size: 1.6rem;
      }

      & .PaginationButtons {
        align-self: flex-end;
        justify-self: flex-end;
        margin-top: 15px;
      }
    }

    & .TableContainer {
      width: 100%;

      & .Table {
        width: 85%;

        & .RowContainer {
          justify-content: space-between;
          width: 100%;

          & .CellIcon {
            width: 10%;

            & .ContractIcon {
              width: 18px;
            }
          }

          & .HashTimeCell {
            width: 30%;
          }

          & .FromToTxnCell {
            width: 30%;
          }

          & .ActionCell {
            width: 15%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1605px) {
  .BlocksPage {
    & .Table {
      & .Row {
        gap: 50px;

        & .HashCell {
          width: 450px;
        }
      }
    }
  }
}
