.TxnsPage {
  background-color: var(--foreground);
  border-radius: var(--radius);
  height: 930px;
  width: 100%;

  & .TxnsContainer {
    justify-content: flex-start;

    & .TitleBox {
      display: flex;
      justify-content: space-between;
      padding: 28px 39px;

      & .Title {
        align-self: center;
        font-size: 1.6rem;
      }

      & .PaginationButtons {
        align-self: flex-end;
        justify-self: flex-end;
        margin-top: 15px;
      }
    }

    & .TableContainer {
      & .Table {
        width: 90%;

        & .RowContainer {
          justify-content: space-around;
          width: 100%;

          & .CellIcon {
            align-items: center;
            display: flex;
            flex-direction: row;
            gap: 2px;
          }

          & .HashCell {
            min-width: 300px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .TxnsPage {
    & .TxnsContainer {
      & .TableContainer {
        width: 100%;

        & .Table {
          width: 90%;

          & .RowContainer {
            & .HashCell {
              min-width: 110px;
            }
          }

          & .MobilePaginationButtons {
            justify-content: flex-end;
            padding: 20px 0;
            width: 100%;
          }
        }
      }
    }
  }
}
