.TxnsPage {
  background-color: var(--foreground);
  width: 100%;

  & .TableContainer {
    & .TitleBox {
      display: flex;
      justify-content: space-between;
      padding: 27px 70px 27px 39px;

      & .Title {
        align-self: center;
        font-size: 1.6rem;
      }

      & .PaginationButtons {
        align-self: flex-end;
        justify-self: flex-end;
        margin-top: 15px;
      }
    }

    & .Table {
      width: 80%;

      & .RowContainer {
        justify-content: space-between;
        width: 100%;

        & .CellIcon {
          width: 10%;

          & .ContractIcon {
            width: 18px;
          }
        }

        & .HashTimeCell {
          width: 30%;
        }

        & .FromToTxnCell {
          width: 30%;
        }

        & .ActionCell {
          width: 15%;
        }
      }
    }
  }
}

.EmptyTitleBox {
  padding: 27px 70px 27px 39px;
}

@media only screen and (max-width: 1605px) {
  .BlocksPage {
    & .Table {
      & .Row {
        gap: 50px;

        & .HashCell {
          width: 450px;
        }
      }
    }
  }
}
