.Panel {
  background-color: var(--foreground);
  border-radius: var(--radius);
  box-sizing: border-box;
  height: 100%;
  padding: 30px;
  width: 100%;

  &.center {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
