.Panel {
  background-color: var(--foreground);
  border-radius: var(--radius);
  height: 100%;
  width: 100%;

  &.center {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
