.Container {
  background-color: var(--foreground);
  border-radius: var(--radius);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 248px;
  padding: 20px 0;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .Container {
    flex-direction: column;
    padding: 15px 0;
  }
}
