.Header {
  background: transparent;
  width: 100%;

  & .Navbar {
    align-items: flex-start;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    @media only screen and (max-width: 1024px) {
      width: 90%;
    }

    & .Logo {
      width: 10rem;
    }
  }

  & .MenuDown {
    height: 80px;
  }

  & .MenuUp {
    align-items: center;
    display: flex;
    height: 80px;
  }
}
