.Header {
  background: transparent;
  width: 100%;

  & .Navbar {
    align-items: flex-start;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;

    & .Logo {
      margin-left: 1rem;
      width: 10rem;
    }
  }

  & .MenuDown {
    height: 80px;
  }

  & .MenuUp {
    align-items: center;
    display: flex;
    height: 80px;
  }
}
