.ActionValue {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.FromTo {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.HashTime {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
