.BlocksRow {
  font-size: 0.8rem;
  width: 100%;

  & .NumberCell {
    color: var(--green-dark);
    font-weight: 600;
    width: 10%;
  }

  & .HashCell {
    width: 60%;
  }

  & .TxnsCell {
    width: 15%;
  }
}
