.HashCell {
  & .Wrapper {
    & .HashBox {
      color: var(--grey-text);
      display: flex;
      flex-direction: row;
      font-size: 0.8rem;
      font-weight: 600;

      & .HashTitleBox {
        align-items: flex-end;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 40px;

        & > span {
          margin-right: 10px;
        }
      }
    }
  }
}
