.WalletPage {
  align-items: center;
  background-color: var(--foreground);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  height: 720px;
  width: 100%;

  & .TitleBox {
    align-self: flex-start;
    justify-content: flex-start;
    padding-left: 39px;
    padding-top: 28px;
    width: 100%;
  }

  & .TableContainer {
    align-items: flex-start;
    padding-top: 45px;
    width: 87%;

    & .WalletDetailContainer {
      width: 100%;

      & .MobilePagination {
        margin-top: 20px;
      }

      & .DetailsTab {
        align-items: flex-start;
        justify-content: flex-start;
      }
    }

    & .TableHeader {
      border-bottom: 1px solid #eee;
      box-shadow: 0 2px 0 0 rgb(171 171 171 / 30%);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 24px;
      width: 100%;
    }
  }
}
