.Button {
  border: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 10px;
  width: 100%;
  & .primary {
    background-color: blue;
  }
  & .secondary {
    background-color: rebeccapurple;
  }
  & .round {
    border-radius: 20px;
  }
}

.NoStyleButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
