.NoStyleButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.Button {
  border: none;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 20px;
  width: 100%;

  &.primary {
    background-color: blue;
  }
  &.secondary {
    background-color: rebeccapurple;
  }
  &.round {
    border-radius: 20px;
  }
}
.Link {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
