.Container {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding: 10px;
  width: 100%;

  & .Tables {
    display: grid;
    gap: var(--gap);
    grid-template-columns: 50% 50%;
    justify-content: center;
    width: 100%;
  }
}
