.Container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  justify-content: center;
  width: 100%;

  & .SubStatsTop {
    flex-direction: row wrap;
    gap: var(--gap);
    width: 100%;
  }

  & .SubStatsBottom {
    flex-direction: row wrap;
    gap: var(--gap);
    width: 100%;
  }
}
