.Container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  justify-content: center;
  width: 100%;

  & .SubStatsTop {
    height: 248px;
  }

  & .SubStatsBottom {
    height: 390px;
  }
}
