.HashCell {
  align-items: flex-start;
  width: 100%;

  & .Wrapper {
    margin-left: 10px;

    & .green {
      color: var(--green-dark);
    }

    & .grey {
      color: var(--grey-text);
    }

    & .dark-grey {
      color: var(--grey-dark);
    }

    & .Time {
      font-size: 0.7rem;
      font-weight: 500;
    }
  }
}
