.StatsBlock {
  display: flex;
  flex-direction: row;
  gap: var(--gap);
  justify-content: space-between;
  width: 100%;

  @media only screen and (max-width: 800px) {
    flex-direction: column;
  }

  & .StatsCell {
    background-color: var(--foreground);
    border-radius: var(--radius);
    flex: 1 1 600px;
  }
}
