.StatsBlock {
  display: flex;
  gap: var(--gap);
  height: 300px;
  justify-content: space-between;
  width: 100%;

  & .StatsCell {
    background-color: var(--foreground);
    border-radius: var(--radius);
    flex: 1 1 600px;
  }
}
