.HStack {
  align-items: flex-start;
  display: flex;
  flex-direction: row;

  &.center {
    align-items: center;
    justify-content: center;
  }

  @media only screen and (max-width: 1204px) {
    flex-direction: column;
  }
}
