.Container {
  align-items: center;
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  height: 100vh;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 0 0.5rem;
  width: 100%;

  & .Tables {
    display: flex;
    gap: var(--gap);
    width: 100%;

    & .TablePlaceholder {
      background-color: var(--foreground);
      border-radius: var(--radius);
      flex: 1 1 600px;
      min-height: 600px;
    }
  }
}
