.SearchBox {
  align-items: center;
  background-color: var(--foreground);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  height: 190px;
  justify-content: center;
  padding: 20px;
  width: 100%;

  & .Title {
    align-items: center;
    color: var(--conun-blue);
    display: flex;
    flex-direction: column;
    font-size: 1.2em;
    font-style: normal;
    font-weight: 300;

    & .Gradient {
      background: linear-gradient(45deg, #1d428a, #4095bc);
      background-clip: text;
      font-family: Teko, sans-serif;
      font-size: 4rem;
      font-weight: 600;
      -webkit-text-fill-color: transparent;
    }
  }

  & .SearchBarCell {
    display: flex;
    justify-content: center;
    width: 100%;

    & .SearchPlaceholder {
      align-items: center;
      border-radius: var(--radius);
      box-shadow: inset -2px -2px 3px rgb(237 237 237 / 75%),
        inset 2px 2px 5px rgb(171 171 171 / 75%);
      display: flex;
      flex: 0 1 900px;
      flex-direction: row;
      height: 30px;
      justify-content: space-between;
      padding: 0 20px;
      z-index: 2;

      & .InputWithNoOutline {
        background-color: transparent;
        border: 0 solid;
        width: 70%;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: var(--conun-blue);
        }
      }
    }
  }
}
