.Layout {
  align-items: center;
  background-image: url("../../assets/background/main_background.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  & .AppWidth {
    width: 80%;
  }
}
