.CellWithIcon {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  justify-content: flex-start;

  & .TransactionIcon {
    margin-right: 10px;
  }

  & .Wrapper {
    & > p {
      &:last-child {
        font-size: 0.7rem;
      }
    }

    &.flat {
      display: flex;
      flex-direction: row;
      gap: 6px;
      justify-content: center;
    }
  }
}
