.SmartContact {
  background-color: var(--foreground);
  height: 654px;
  justify-content: space-between;
  padding-bottom: 50px;
  padding-top: 24px;
  width: 100%;

  & .SmartContactContainer {
    justify-content: flex-start;

    & .Header {
      width: 100%;
    }

    & .TableHeader {
      padding-top: 5%;
      width: 100%;

      & .TitleRow {
        border-bottom: 1px solid #eee;
        box-shadow: 0 2px 0 0 rgb(171 171 171 / 30%);

        & .Cell {
          color: var(--grey-text);
          font-weight: 600;
          width: 100px;
          @media only screen and (max-width: 1024px) {
            width: 57px;
          }
        }
      }

      & .Row {
        & .Cell {
          width: 83px;
          @media only screen and (max-width: 1024px) {
            width: 57px;
          }

          & .Icon {
            width: 30px;
          }
        }

        & .ContractNameCell {
          color: red;
          padding-left: 0;
          width: 83px;
          @media only screen and (max-width: 1024px) {
            width: 63px;
          }
        }
      }
    }
  }

  & .Github {
    border: 1px solid #bdbdbd;
    border-radius: 30px;
    box-sizing: border-box;
    color: var(--conun-blue);
    padding: 10px 20px;
  }
}
