.DrivePage {
  background-color: var(--foreground);
  height: 690px;
  justify-content: flex-start;

  & .DrivePageContainer {
    width: 85%;

    & .TitleHeader {
      padding-top: 28px;
    }

    & .TableHeader {
      border-bottom: 1px solid #eee;
      box-shadow: 0 2px 0 0 rgb(171 171 171 / 30%);

      & .TabContainer {
        display: flex;
      }
    }
  }
}
