.TableContainer {
  background-color: var(--foreground);
  box-shadow: 0 2px 10px 2px rgb(171 171 171 / 40%);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
  width: 100%;

  & .BlocksTable {
    overflow-y: scroll;
    width: 100%;
  }

  & .ViewBlocks {
    background: linear-gradient(99.17deg, #92caff 12.18%, #1d428a 106.22%);
    border-radius: 18px;
    bottom: 20px;
    box-shadow: 0 2px 5px rgb(171 171 171 / 50%);
    color: #fff;
    font-weight: bold;
    padding: 10px;
    position: absolute;
    width: 90%;
  }
}
