.Services {
  height: 200px;

  & .TitleRow {
    align-items: center;
    display: flex;
    gap: 10px;
    & .Title {
      color: var(--red-main);
      margin-bottom: 0;
    }
    & .Caption {
      font-size: 0.8rem;
      font-style: italic;
    }
  }
  & .Table {
    align-items: center;
    display: grid;
    grid-template-columns: 2fr 2fr 10fr;
    padding: 5px;

    & .IconCell {
      padding: 5px;
      & .Icon {
        height: 45px;
        width: 45px;
      }
    }

    & .Label {
      font-weight: 600;
    }

    & .Summary {
      font-size: 0.8rem;
    }
  }
}
