.RowContainer {
  align-items: flex-start;
  width: 85%;

  & .Cell {
    align-items: flex-start;
    width: 100%;

    & .TitleCell {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      width: 20%;

      & .Title {
        gap: 6px;
        justify-content: flex-end;
        width: 95%;

        &:first-child {
          font-weight: 600;
        }

        & .Partition {
          color: var(--red);
        }
      }
    }

    & .Children {
      padding-left: 14px;
    }

    & .Value {
      padding-left: 14px;
      width: 85%;
    }
  }
}
