.TableContainer {
  box-sizing: border-box;
  display: block;
  flex: 1;
  min-height: 300px;
  overflow: auto;

  &::-webkit-scrollbar {
    background-color: transparent;
    height: 7px;
    width: 7px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(102, 89, 255, 0);
    border-radius: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  &:hover::-webkit-scrollbar-thumb {
    background: rgba(102, 89, 255, 0.8);
  }
}

.Table {
  background-color: #fff;
  border-spacing: 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  color: var(font-color);
  flex: 1;
  font-size: 14px;
  min-width: fit-content !important;
  position: relative;
  width: 100%;

  & .Th,
  & .Td {
    border-right: 1px solid transparent;
    margin: 0;
    overflow-x: hidden;
    position: relative;

    & .Resizer {
      background-color: transparent;
      cursor: col-resize;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      touch-action: none;
      user-select: none;
      width: 4px;
      z-index: 1;

      &.isResizing {
        background-color: #a8aeffa3;
      }
    }
  }

  & .Th {
    align-items: center;
    border: 2px solid var(--grey-bkg);
    color: var(font-color);
    display: flex;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.1;
    padding: 30px 10px 30px 10px;
    text-transform: uppercase;

    &:first-child {
      padding-left: 30px;
    }
  }

  & .Td {
    align-items: center;
    cursor: pointer;
    display: flex;
    padding: 0.75rem 10px 0.75rem 10px;
    transition: 0.3s ease;
    transition-property: width, min-width, padding, opacity;

    &:first-child {
      padding-left: 30px;
    }

    &.firstRow {
      border-left: 3px solid transparent;

      &.isProcessingInBatch {
        animation: pulse 1s infinite ease-in-out;
      }
    }
  }

  & .Th:not(.isExpanded):hover {
    border-right-color: #a8aeffa3;
  }

  & .Tr {
    border-bottom: 1px solid #a8aeffa3;
    transition: all 0.2s;

    &:hover {
      background: #d4d7ff8c;
      box-shadow: 1px 1px 6px 1px #a8aeffa3;
    }

    &:first-child {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }

    &:last-child {
      & .Td {
        border-bottom: 0;
      }
    }
  }

  & .THead {
    overflow-x: hidden;
    overflow-y: auto;
    position: sticky;
    top: 0;
    user-select: none;
    z-index: 1;

    & .Tr {
      background-color: #fff;
      border-bottom: 1px solid #e6eff7;
      z-index: 1;
    }
  }

  & .TBody {
    & .Tr {
      border-bottom: 1px solid #edf1f6;
      border-radius: 0;

      &:last-child {
        border-bottom: 0;
      }

      &:hover {
        color: var(font-hover);
      }
    }
  }
}

.LoadingRow {
  align-items: center;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: center;
}
