.Table {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  width: 100%;
  & .Cell {
    border-right: 1px solid lightgrey;
    display: flex;
    flex: 1 1 100px;
    gap: 8px;
    justify-content: flex-start;
    padding: 10px;

    &.DateCell {
      flex: 2.5 1 100px;
    }
    & .CellTitle {
      color: var(--blue-light);
    }
  }
}
