.FooterPage {
  align-items: center;
  background: url("../../../assets/background/footer.png");
  background-position: bottom right;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 50px;
  position: cover;
  width: 100%;

  & .FooterItems {
    align-items: flex-start;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;

    & .LogoContainer {
      align-items: flex-start;
      display: flex;
      flex-direction: row;
      font-size: 14px;
      font-weight: 300;

      & .Logo {
        margin-top: -18px;
        width: 90px;
      }

      & .CopyRight {
        width: 250px;
      }
    }

    & .CompanySection,
    .SolutionSection,
    .CommunitySection {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      font-size: 0.8rem;
      font-weight: bold;
      justify-content: center;

      & .Community,
      .Company,
      .Solutions {
        font-weight: 300;
        margin-top: 10px;
      }
    }

    & .Version {
      font-size: 0.8rem;
    }
  }
}
@media only screen and (max-width: 800px) {
  .FooterPage {
    background-position: bottom right;
    padding: 30px 0;

    & .FooterItems {
      width: 90%;
    }

    & .MobileContainer {
      color: white;
      display: flex;
      flex-direction: row;
      font-size: 0.8rem;
      justify-content: space-between;
      padding-top: 20px;

      & .LogoContainer {
        display: flex;
        gap: 10px;

        & .Logo {
          width: 50px;
        }

        & .CopyRight {
          width: 200px;
        }
      }
    }
  }
}
