.Footer {
  background-color: var(--footerground);
  height: 200px;
  width: 100%;
  & .FooterItems {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    & .WorldCell {
      height: 100px;

      & .World {
        height: 100px;
        margin-top: 20px;
        width: 300px;
      }
    }

    & .IconContainer {
      align-items: left;
      display: flex;
      flex-direction: column;
      padding: 10px;
      & .LogoCell {
        color: white;
        font-size: 14px;
        font-weight: 300;
        margin: 10px 0;
        width: 200px;
        & .Logo {
          width: 100px;
        }
      }
      & .Icons {
        display: flex;
        height: 50px;
        justify-content: space-between;
        & .LogoIcon {
          height: 50px;
        }
      }
      & .Version {
        color: white;
        font-size: 14px;
        font-weight: 300;
      }
    }

    & .CompanyCell {
      color: white;
      display: flex;
      flex-direction: column;
      font-weight: bold;
      & .Company {
        font-size: 14px;
        font-weight: 300;
        margin-top: 10px;
      }
    }
    & .CommunityCell {
      color: white;
      display: flex;
      flex-direction: column;
      font-weight: bold;
      & .Community {
        font-size: 14px;
        font-weight: 300;
        margin-top: 10px;
      }
    }
  }
}
