.Box {
  align-items: center;
  display: flex;
  flex-direction: row;
  width: 100%;

  &.center {
    justify-content: center;
  }

  &.start {
    justify-content: flex-start;
  }

  &.end {
    justify-content: flex-end;
  }

  &.horizontalLine {
    border-bottom: 1px solid #eee;
    box-shadow: 0 2px 1.5px 0 rgb(171 171 171 / 60%);
  }

  & .GoBackIconContainer {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;

    &:hover {
      cursor: pointer;
    }

    &.alignLeft {
      align-self: flex-start;
    }
  }

  & .Title {
    font-weight: 400;
    height: 1.4rem;
  }
}
