.ActionValue {
  align-items: flex-start;
  background-color: var(--grey-light);
  border-radius: 10px 0;
  display: flex;
  flex-direction: column;
  font-size: 10pt;
  justify-content: center;
  padding: 10px;
}

.FromTo {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.HashTime {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  padding: 5px;
}
