.StatsBlock {
  display: flex;
  gap: var(--gap);
  height: 300px;
  width: 100%;

  & .StatsCell {
    background-color: var(--foreground);
    border-radius: var(--radius);
    display: flex;
    flex: 1 1 600px;
  }
}
