.TxnsDetailsPage {
  background-color: var(--foreground);
  border-radius: var(--radius);
  display: flex;
  justify-content: space-between;
  width: 100%;

  & .TxnsDataSection {
    width: 100%;

    & .TitleContainer {
      display: flex;
      justify-content: space-between;
      padding: 27px 70px 27px 39px;
    }

    & .Table {
      margin-bottom: 50px;
      margin-top: 30px;

      & .ContractIconContainer {
        align-items: center;
        display: flex;
        flex-direction: row;
        gap: 5px;
        justify-content: center;
      }

      & .TxnsFrom,
      & .TxnsTo {
        &:hover {
          text-decoration: underline green 2px;
        }
      }
    }
  }

  & .BlueVerticalBar {
    align-items: center;
    background-color: var(--sky-bule);
    border-radius: 0 var(--radius) var(--radius) 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50px;

    & .ButtonContainer {
      display: flex;
      flex-direction: column;
      height: 90px;
      justify-content: space-between;
    }
  }
}
@media only screen and (max-width: 1024px) {
  .TxnsDetailsPage {
    & .TxnsDataSection {
      & .TitleContainer {
        padding: 24px 10px 10px 24px;

        & .MobilePagination {
          display: flex;
          gap: 10px;
        }
      }

      & .Table {
        margin-top: 0;
      }
    }
  }
}
