.CellContainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;

  & .Cell {
    align-items: center;
    display: flex;
    flex-grow: 1;
    width: 90%;

    &.centered {
      align-items: center;
      justify-content: center;
    }
  }
}
