.Cell {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;

  &.grow {
    flex-grow: 2;
    min-width: 500px;
  }
  &.centered {
    align-items: center;
  }
}
