.TableContainer {
  background-color: var(--foreground);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
  width: 100%;

  & .TitleContainer {
    padding: 15px 0;

    & .Title {
      font-size: 1.1rem;
      font-weight: 500;
    }
  }

  & .Table {
    overflow-y: scroll;
    padding: 0 10px;
    width: 100%;

    & .RowContainer {
      & .ContractIcon {
        width: 18px;
      }

      & .HashTimeCell {
        width: 35%;
      }

      & .FromToTxnCell {
        width: 25%;
      }

      & .ActionCell {
        width: 15%;
      }
    }
  }

  & .ViewBlocks {
    background: linear-gradient(99.17deg, #92caff 12.18%, #1d428a 106.22%);
    border-radius: 18px;
    bottom: 20px;
    box-shadow: 0 2px 5px rgb(171 171 171 / 50%);
    color: #fff;
    font-weight: bold;
    padding: 10px;
    position: absolute;
    width: 90%;
  }
}
