.TableContainer {
  background-color: var(--foreground);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  display: flex;
  flex-direction: column;
  max-height: 390px;
  overflow-y: auto;
  position: relative;
  width: 100%;

  & .TitleContainer {
    padding: 15px 0;

    & .Title {
      font-size: 1.1rem;
    }
  }

  & .Table {
    overflow-y: scroll;
    padding: 0 10px;
    width: 100%;

    & .RowContainer {
      width: 100%;

      & .TxnsCell {
        align-items: center;
        display: flex;
        justify-content: space-around;
        width: 100%;

        & .HashCell {
          min-width: 180px;
          @media only screen and (max-width: 1024px) {
            min-width: 106px;
          }
        }
      }
    }
  }

  & .ViewBlocks {
    background: linear-gradient(99.17deg, #92caff 12.18%, #1d428a 106.22%);
    border-radius: 18px;
    bottom: 20px;
    box-shadow: 0 2px 5px rgb(171 171 171 / 50%);
    color: #fff;
    font-weight: bold;
    padding: 10px;
    position: absolute;
    width: 90%;
  }
}
