.CenterBox {
  align-items: center;
  color: var(--conun-blue);
  gap: 20px;
  justify-content: flex-start;
  padding-left: 60px;
  width: 90%;

  @media only screen and (max-width: 800px) {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  @media only screen and (max-width: 1605px) {
    gap: 20px;
    padding-left: 40px;
  }

  & .StatIcon {
    width: 50px;

    @media only screen and (min-width: 768px) and (max-width: 1025px) {
      width: 30px;
    }
  }

  & .StatDataContainer {
    & .Title {
      font-weight: 600;
    }

    & .Numbers {
      color: #77aceb;
      font-size: 2.5rem;
      font-style: normal;
      font-weight: 900;
      line-height: 36px;
    }

    &.CoinVal {
      font-weight: 600;
    }
  }
}
