.NetworkStats {
  & .Pair {
    align-items: center;
    display: flex;
    gap: 10px;

    & .IconCell {
      & .Icon {
        height: 50px;
      }
    }

    & .Data {
      font-weight: 600;
    }
  }
}
