.NetworkStats {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 140px;
  & .Pair {
    align-items: center;
    display: flex;
    gap: 10px;

    & .IconCell {
      & .Icon {
        height: 50px;
      }
    }
    & .Data {
      font-weight: 600;
    }
  }
}
